.login {
    background-color: #f3f3f3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login__container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login__container > form > h5 {
    margin-bottom: 5px;
  }
  
  .login__container > form > input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login__container > form > button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0c14b;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login__container > form > button:hover {
    background-color: #ddb347;
  }
  
  .login__registerButton {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .login__registerButton:hover {
    background-color: #0b5ed7;
  }
  